[submodule "UEFI-GPT-image-creator"]
	path = UEFI-GPT-image-creator
	url = https://github.com/queso-fuego/UEFI-GPT-image-creator
[submodule "3rdparty/stb"]
  path = 3rdparty/stb
  url = https://github.com/nothings/stb
